@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-vinho: #64221D;
    --color-mostarda: #F7AE1A;
    --color-creme: #F5E7DA;
    --color-caramelo: #CF9A5A;
    --color-bege: #A97744;
    --color-canela: #C7794A;
    --color-marrom: #3B2416;
    --color-cafe: #292625;
    --color-cinza: #E7E1DF;
    --color-cinza-escuro: #C4C4C4;
}

* {
    font-family: "Archivo", sans-serif;
}


@layer utilities {
    @keyframes slide-in {
      0% {
        opacity: 0.5;
        transform: translateX(-80px);
      }
      50% {
        opacity: 1;
        transform: translateX(-40px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  
    .animate-slide-in {
      animation: slide-in 1s ease-out forwards;
    }
  }
